:root {
  --cor-pri: #3f51b5; /*indigo*/
  --cor-seg: #5c6bc0; /*indigo lighten-1*/
  --cor-bg: #eee;
  --cor-font: #797979;
}

body {
  background-color: var(--cor-bg);
  overflow: scroll;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--cor-font);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: tranparency;
}

dt a {
    color: var(--cor-font) !important;
}

a:active,
a:hover {
  outline: 0;
}

/********** LAYOUT *********/

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .page-flexbox-wrapper {
    min-height: 92.9vh;
  }
}

div.box {
  padding: 0;
  margin: 15px auto auto;
  vertical-align: top;
  width: 100%;
}

div.box2 {
  margin: 0 0 auto;
  padding-left: 255px;
  padding-right: 0px;
}

@media only screen and (max-width: 992px) {
  div.box {
    margin: 0px auto auto;
    width: 100%;
  }
  div.box2 {
    margin: 10px 0px auto;
    padding-left:0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 1919px) {
  div.box2 {
    padding-right: 255px;
  }
}

.container {
  margin-top: 15px;
}

/********** NAV and FOOTER *********/

div.nav-wrapper {
  background-color: var(--cor-pri);
}

.side-nav {
  min-width: 250px !important;
  text-indent: 8px;
  background-color: #333;
}

.side-nav a {
  color: var(--cor-bg) !important;
}

.side-nav-branca {
  background-color: #fff;
}

.side-nav-branca a {
  color: #555 !important;
}

.side-nav-transparent {
  background-color: transparent;
  box-shadow: unset;
}

.side-nav-transparent a {
    color: #555 !important;
}

.button-collapse {
  padding-left: 15px;
}

@media only screen and (min-width: 993px) {
  nav .brand-logo {
    text-indent: 250px;
  }
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    text-indent: 0px;
  }
}
@media only screen and (min-width: 1919px) {
  nav .brand-logo {
    text-indent: 0px;
  }
}

.brand-logo {
  color: var(--cor-bg) !important;
}

.footer-text {
  color: var(--cor-font) !important;
}

@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: block;
  }

  .container {
    margin-left: 270px;
  }
}

/********** CARDS **********/

div.card {
  vertical-align:top;
  text-align: left;
  background-color: #fff;
  padding: 10px;
  position: relative;
  display: inline-block;
  margin: 5px;
  color: var(--cor-font);
  width: 460px;
  max-width: 95%
}

div.card2 {
  width: 720px;
}

div.cardlogin {
  width: 300px;
}

div.card50 {
  width: 48%;
}

div.cardtable {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  div.card {
    max-width: 97%;
    width: 97% !important;
    margin: 10px auto 10px;
  }

  div.cardlogin {
    width: 280px !important;
  }

  div.cardtable{
    font-size: 11px !important;
  }
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  text-align: center;
  color: var(--cor-pri);
}

.section h5 {
  text-align: left;
  color: var(--cor-font);
}

/********** BUTTONS **********/

.btn-example {
  color: var(--cor-font) !important;
}

.btn-floating {
  background-color: var(--cor-seg) !important;
}

.btn {
  background-color: var(--cor-seg) !important; /*indigo lighten-1*/
  display: inline-block !important;
  width: 180px;
  margin: 3px;
  box-shadow: unset;
  height: 36px !important;
  line-height: 36px !important;
}

.btn:hover {
  box-shadow: unset;
}

.btn-export {
  background-color: #ffca28 !important; /*amber lighten-1*/
}

.btn-delete {
  background-color: #ef5350 !important; /*red lighten-1*/
}

.btn-upload {
  background-color: #4caf50 !important; /*green lighten-1*/
}

.btn-form {
  margin: 5px !important;
}

.login .btn {
  float: right;
  width: 140px !important;
}

/*@media not screen and (min-width: 769px) {
  .btn-upload {
    margin-left: 6.3% !important;
    margin-right: -4% !important;
  }
}*/

/********** ICONS **********/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  float: left;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.side-nav-branca .material-icons,
.side-nav-transparent .material-icons,
.dropdown-content .material-icons  {
  color: var(--cor-font) !important;
}

.side-nav .material-icons {
  color: var(--cor-bg) !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/materialicons/v27/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

/********** TABLES **********/

.reactive-table-input.form-control {
  margin-left: 55%;
  width: 45%;
}

/*.reactive-table-input.form-control {
  margin-left: 0px;
  width: 100%;
}*/

.pull-right {
  float:none;
  margin: 0px;
}

i.fa.fa-filter{
  font-size: 0px;
}

.hover,
.cinza {
  background-color: var(--cor-bg);
}

.titleheader {
  font-size: 14px !important;
  height: 90px !important;
  color: var(--cor-seg);
  text-align: center;
}

.num {
  padding-right: 50px;
  text-align: right !important;
}

.tableicon {
  min-width: 68px !important;
}

.rmv,
.edit {
  margin-left: 5px;
  cursor: pointer;
  color: #555 !important;
}

.iconblack {
  color: #555 !important;
  font-size: 48px;
}

.accordion-title.accordionTitle {
  font-size: 18px;
}


@media not screen and (min-width: 769px) {
  /*.titleheader {
    font-size: 14px !important;
  }*/

  .rmv,
  .edit {
    margin: 5px;
    cursor: pointer;
    color: #555 !important;
    font-size: 20px !important;
  }

  tr {
    font-size: 14px;
  }

  .reactive-table-input.form-control {
    margin-left: 0px;
    width: 100%;
  }
}

/********** MODALS **********/

.modal-content {
  text-align: left;
}

/********** OTHERS **********/

div.error {
  font-size: 12px;
  color: red;
  margin-top: -15px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--cor-seg);
  box-shadow: 0 1px 0 0 var(--cor-seg);
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: var(--cor-seg);
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid var(--cor-seg);
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: var(--cor-seg);
  z-index: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: var(--cor-seg);
}

input:not([type]).invalid,
input:not([type]):focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime].invalid,
input[type=datetime]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text].invalid + label:after,
input[type=text]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime].invalid + label:after,
input[type=datetime]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
  content: attr(data-error) !important;
  color: #F44336 !important;
  opacity: 1 !important;
}
