:root {
  --cor-pri: #3f51b5; /*#3f51b5: indigo, #5c6bc0 indigo lighten-1*/
  --cor-bg: #eee;
  --cor-font: #797979;
}

body {
  background-color: var(--cor-bg);
  overflow: scroll;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--cor-font);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: tranparency;
}

a:active,
a:hover {
  outline: 0;
}

/********** LAYOUT *********/

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .page-flexbox-wrapper {
    min-height: 92.9vh;
  }
}

div.box {
  padding: 0;
  margin: 15px auto auto;
  vertical-align: top;
  width: 100%;
}

div.box2 {
  margin: 0 0 auto;
  padding-left: 255px;
  padding-right: 0px;
}

@media only screen and (max-width: 992px) {
  div.box {
    margin: 0px auto auto;
    width: 100%;
  }
  div.box2 {
    margin: 10px 0px auto;
    padding-left:0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 1919px) {
  div.box2 {
    padding-right: 255px;
  }
}

.container {
  margin-top: 15px;
}

/********** NAV and FOOTER *********/

div.nav-wrapper {
  background-color: var(--cor-pri);
}

.side-nav {
  min-width: 250px !important;
  text-indent: 8px;
  background-color: #333;
}

.side-nav a {
  color: var(--cor-bg) !important;
}

.side-nav-branca {
  background-color: #fff;
}

.side-nav-branca a {
  color: #555 !important;
}

.side-nav-transparent {
  background-color: transparent;
  box-shadow: unset;
}

.side-nav-transparent a {
    color: #555 !important;
}

.button-collapse {
  padding-left: 15px;
}

@media only screen and (min-width: 993px) {
  nav .brand-logo {
    text-indent: 250px;
  }
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    text-indent: 0px;
  }
}
@media only screen and (min-width: 1919px) {
  nav .brand-logo {
    text-indent: 0px;
  }
}


.footer-text {
  color: var(--cor-font) !important;
}

@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: block;
  }

  .container {
    margin-left: 270px;
  }
}

/********** CARDS **********/

div.card {
  vertical-align:top;
  text-align: left;
  background-color: #fff;
  padding: 10px;
  position: relative;
  display: inline-block;
  margin: 5px;
  color: var(--cor-font);
  width: 360px;
  max-width: 95%
}

div.card2 {
  width: 720px;
}

div.cardlogin {
  width: 300px;
}

div.cardtable {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  div.card {
    max-width: 97%;
    width: 97% !important;
    margin: 10px auto 10px;
  }

  div.cardlogin {
    width: 280px !important;
  }

  div.cardtable{
    font-size: 11px !important;
  }
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  text-align: center;
  color: var(--cor-pri);
}

/********** BUTTONS **********/

.btn-example{
  color: var(--cor-font) !important;
}

.btn {
  background-color: #5c6bc0 !important; /*indigo lighten-1*/
  display: inline-block !important;
  width: 180px;
  margin: 3px;
  box-shadow: unset;
  height: 36px !important;
  line-height: 36px !important;
}

.btn:hover {
  box-shadow: unset;
}

.btn-export {
  background-color: #ffca28 !important; /*amber lighten-1*/
}

.btn-delete {
  background-color: #ef5350 !important; /*red lighten-1*/
}

.btn-upload {
  background-color: #4caf50 !important; /*green lighten-1*/
}

.btn-form {
  margin: 5px !important;
}

.login .btn {
  float: right;
  width: auto !important;
}

/*@media not screen and (min-width: 769px) {
  .btn-upload {
    margin-left: 6.3% !important;
    margin-right: -4% !important;
  }
}*/

/********** ICONS **********/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  float: left;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: var(--cor-bg);
}

.side-nav-branca .material-icons,
.side-nav-transparent .material-icons,
.dropdown-content .material-icons  {
  color: var(--cor-font) !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/materialicons/v27/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

/********** TABLES **********/

.selected,
.cinza {
  background-color: var(--cor-bg);
}

.titleheader {
  font-size: 14px !important;
  height: 90px !important;
  color: #5c6bc0;  /*indigo lighten-1*/
  text-align: center;
}

.num {
  padding-right: 50px;
  text-align: right !important;
}

.tableicon {
  min-width: 68px !important;
}

.rmv,
.edit {
  margin-left: 5px;
  cursor: pointer;
  color: #555 !important;
}

.iconblack {
  color: #555 !important;
  font-size: 48px;
}

@media not screen and (min-width: 769px) {
  /*.titleheader {
    font-size: 14px !important;
  }*/

  .rmv,
  .edit {
    margin: 5px;
    cursor: pointer;
    color: #555 !important;
    font-size: 20px !important;
  }

  tr {
    font-size: 14px;
  }
}

/********** MODALS **********/

.modal-content {
  text-align: left;
}
