:root {
  --cor-pri: #3f51b5; /*indigo*/
  --cor-bg: #eee;
  --cor-font: #797979;
}

body {
  background-color: var(--cor-bg);
}

a:active,
a:hover {
  outline: 0;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .page-flexbox-wrapper {
    min-height: 92.9vh;
  }
}

div.box {
  padding: 0;
  margin: 0 auto auto;
  vertical-align: top;
  width: 75%;
}
@media only screen and (max-width: 768px) {
  div.box {
    width: 100%;
  }
}

/********** NAV & FOOTER *********/

div.nav-wrapper {
  background-color: var(--cor-pri);
}

.side-nav {
  width: 300px;
  text-indent: 15px;
  background-color: #333;
}

.side-nav a {
  color: var(--cor-bg) !important;
}

.footer-text {
  color: #797979;
}

@media only screen and (min-width: 993px) {
   nav a.button-collapse {
    display: block;
   }
 }

/********** CARDS **********/

div.card {
  vertical-align:top;
  text-align: left;
  background-color: #fff;
  padding: 15px;
  position: relative;
  display: inline-block;
  margin: 10px;
  color: #797979;
  width: 27%;
  width: 360px
}

div.card2 {
  width: 510px;
}

div.card3 {
  width: 720px;
}

@media only screen and (max-width: 768px) {
  div.card {
    width: 99% !important;
    margin: 10px auto 10px;
  }
}

/********** BUTTONS **********/

.btn {
  margin: 2.5px;
}

.btn,
.btn:focus {
  background-color: var(--cor-pri);
}

.btn:hover {
  background-color: #5c6bc0; /*indigo lighten-1*/
}

.btn-export:hover {
  background-color: #ffca28; /*amber lighten-1*/
}

.btn-delete:hover {
  background-color: #ef5350; /*red lighten-1*/
}

.btn-upload:hover {
  background-color: #66bb6a; /*green lighten-1*/
}

.btn-flat {
  color: var(--cor-font);
}

.waves-indigo .waves-ripple {
  background-color: var(--cor-pri); /*indigo darken-2*/
}

.waves-indigo:focus {
  background-color: #fff;
}

/********** ICONS **********/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  float: left;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 1);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/materialicons/v27/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
