<template name="sobre">
  <div class="card card2">
    <h4>Sobre</h4>
    <div class="divider"></div>
    {{> projeto}}
    <div class="divider"></div>
    {{> equipe}}
  </div>
</template>

<template name="projeto">
  <div class="section">
    <h5>Projeto</h5>
    <div class="texto">
      Dissertar sobre o projeto.
    </div>
  </div>
</template>

<template name="equipe">
  <div class="section">
    <h5>Equipe</h5>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Bruno Fernandes de Lima Santos</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Cleysson Manoel Martins Mendes</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Elimar De Abreu dos Santos</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Filipe Lagareiro Fiorentini</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Gustavo Lopes de Oliveira</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Hamilton Rodrigues Domingues Jr.</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Ivan Lemos Amorim</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/jonloureiro" target="_blank">
          <img src="images/jonathan.jpg" class="circle">
          <div>Jonathan Loureiro de Moraes</div>
        </a>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Julio Cesar Santana da Rosa Filho</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Rafael Pardini Goncalves</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Rebeca Lameira De Rezende</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Roni Rodrigues</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/duarte2025" target="_blank">
          <img src="images/duarte.jpg" class="circle">
          <div>William Mateus Duarte Da Silva</div>
        </a>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Raoni F. S. Teixeira</div>
      </div>
    </div>
  </div>
</template>
