<template name="sobre">
  <div class="card card2">
    <h4>Sobre</h4>
    <div class="divider"></div>
    {{> projeto}}
    <div class="divider"></div>
    {{> equipe}}
  </div>
</template>

<template name="projeto">
  <div class="section">
    <h5>Projeto</h5>
    <div class="texto">
      <p>Este sistema foi desenvolvido durante a disciplina de
      <a href="http://www.liv.ic.unicamp.br/~rteixeira/ensino/2017_1/pds.html" target="_blank">Projeto e
      Desenvolvimento de Software</a>, ministrada no Instituto de Engenharia/UFMT - CUVG
      pelo professor <a href="http://www.liv.ic.unicamp.br/~rteixeira/" target="_blank">Raoni F. S. Teixeira</a>.
      Nesta disciplina, combinamos <i>ensino sob medida</i> e métodos ativos e
      várias ferramentas e técnicas largamente utilizadas na indústria.
       O sistema foi desenvolvido utilizando o framework JavaScript Meteor
      e as metodologias ágeis XP e Scrum para auxiliar os coordenadores de graduação
        na organização administrativa dos cursos do Instituto.</p>
    </div>
  </div>
</template>

<template name="equipe">
  <div class="section">
    <h5>Equipe</h5>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/Bside89" target="_blank">
          <img src="images/bruno.jpg" class="circle">
          <div>Bruno Fernandes de Lima Santos</div>
        </a>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://www.facebook.com/cleysson.mendes" target="_blank">
        <img src="images/cleysson.jpg" class="circle">
        <div>Cleysson Manoel Martins Mendes</div>
    </a>
    </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Elimar De Abreu dos Santos</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/Filipelf" target="_blank">
          <img src="images/Filipe.jpg" class="circle">
          <div>Filipe Lagareiro Fiorentini</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Gustavo Lopes de Oliveira</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://www.facebook.com/hamiltonrdomingues" target="_blank">
          <img src="images/hamilton.jpg" class="circle">
          <div>Hamilton Rodrigues Domingues Jr.</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Ivan Lemos Amorim</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/jonloureiro" target="_blank">
          <img src="images/jonathan.jpg" class="circle">
          <div>Jonathan Loureiro de Moraes</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Julio Cesar Santana da Rosa Filho</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://www.facebook.com/rafael.pardini.7" target="_blank">
          <img src="images/rafael.jpg" class="circle">
          <div>Rafael Pardini Gonçalves</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Rebeca Lameira De Rezende</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Roni Rodrigues</div>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/duarte2025" target="_blank">
          <img src="images/duarte.jpg" class="circle">
          <div>William Mateus Duarte Da Silva</div>
        </a>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="http://www.liv.ic.unicamp.br/~rteixeira/">
        <img src="images/raoni.jpg" class="circle">
        <div>Raoni F. S. Teixeira</div>
        </a>
      </div>
    </div>
  </div>
</template>
