<template name="sobre">
  <div class="card card2">
    <h4>Sobre</h4>
    <div class="divider"></div>
    {{> projeto}}
    <div class="divider"></div>
    {{> equipe}}
  </div>
</template>

<template name="projeto">
  <div class="section">
    <h5>Projeto</h5>
    <div class="texto">
      <p>Este projeto foi desenvolvido durante a disciplina de Projeto e
      Desenvolvimento de Software, ofertada no 6º semestre pelo curso de
      Engenharia da Computação e ministrada pelo Dr. Raoni Florentino da Silva
      Teixeira, docente do Instituto de Engenharia/UFMT - CUVG. O mesmo teve
      como objetivo a criação de um sistema que auxiliasse os coordenadores dos
      cursos na organização administrativa, além de proporcionar uma facilidade
      no acesso e manuseio de dados, registros curriculares entre outras
      funcionalidades referentes aos alunos matriculados nos cursos da UFMT.</p>
      <p>O sistema foi desenvolvido utilizando o Meteor, um framework web
      JavaScript open-source que disponibiliza ferramentas e tecnologias como
      linguagem de programação, banco de dados e serviços web. No gerenciamento
      da equipe de desenvolvimento, foram-se utilizadas às metodologias ágeis
      XP e Scrum, metodologias essas que usam uma abordagem de planejamento e
      execução iterativa, visando à aproximação, o diálogo e maior colaboração
      da equipe de desenvolvimento.</p>
    </div>
  </div>
</template>

<template name="equipe">
  <div class="section">
    <h5>Equipe</h5>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/Bside89" target="_blank">
          <img src="images/bruno.jpg" class="circle">
          <div>Bruno Fernandes de Lima Santos</div>
        </a>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/cleysson.jpg" class="circle">
        <div>Cleysson Manoel Martins Mendes</div>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Elimar De Abreu dos Santos</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Filipe Lagareiro Fiorentini</div>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Gustavo Lopes de Oliveira</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://www.facebook.com/hamiltonrdomingues" target="_blank">
          <img src="images/hamilton.jpg" class="circle">
          <div>Hamilton Rodrigues Domingues Jr.</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Ivan Lemos Amorim</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/jonloureiro" target="_blank">
          <img src="images/jonathan.jpg" class="circle">
          <div>Jonathan Loureiro de Moraes</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Julio Cesar Santana da Rosa Filho</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Rafael Pardini Goncalves</div>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Rebeca Lameira De Rezende</div>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Roni Rodrigues</div>
      </div>
    </div>
    <div class="row">
      <div class="perfil col s12 m6 l6">
        <a href="https://github.com/duarte2025" target="_blank">
          <img src="images/duarte.jpg" class="circle">
          <div>William Mateus Duarte Da Silva</div>
        </a>
      </div>
      <div class="perfil col s12 m6 l6">
        <img src="images/generic.png" class="circle">
        <div>Raoni F. S. Teixeira</div>
      </div>
    </div>
  </div>
</template>
