<template name="formlogin">
  <div class="card cardlogin">
    <form class="login">
      <h4>Login</h4><br>
      <div class="group">
        <label for="email">Email: </label>
        <input type="email" required name="email" id="email">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="group">
        <label for="password">Senha</label>
        <input type="password" required name="password" id="password">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <br>
      <button class="btn btn-normal waves-effect waves-light">Entrar</button>
    </form>
    <div class="grey-text text-darken-1">
      <a href="#" class="grey-text text-darken-1"><p style="margin: 0px;">Esqueceu a senha?</p>Criar conta</a>
    </div>
  </div>
</template>
