<template name="formlogin">
  <div class="card cardlogin">
    <form class="login">
      <h4>Login</h4><br>
      <div class="group">
        <label for="email">Email: </label>
        <input type="email" required name="email" id="email">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="group">
        <label for="password">Senha</label>
        <input type="password" required name="password" id="password">
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <br>
      <button class="btn waves-effect waves-light"><i class="material-icons" style="margin-left: -15px;">lock_open</i>Entrar</button>
    </form>
    <p style="margin: 0px;">
      <a href="{{pathFor route='recpsw'}}" class="grey-text text-darken-1">Recuperar senha</a>
    </p>
    <a href="{{pathFor route='reg'}}" class="grey-text text-darken-1">Criar conta</a>
  </div>
</template>

<template name="recpsw">
  <div class="card cardlogin">
    <h4>Recuperar Senha</h4>
    {{> formpassword}}
    <a href="{{pathFor route='login'}}" class="grey-text text-darken-1" style="text-align: left;">← Voltar</a>
  </div>
</template>

<template name="formpassword">
  <form>
    <div class="input-field">
      <input type="email" name="email" class="validate">
      <label for="email">Digite seu email:</label>
    </div>
  </form>
</template>

<template name="reg">
  <div class="card cardlogin">
    <h4>Criar Conta</h4>
    {{> formreg}}
    <a href="{{pathFor route='login'}}" class="grey-text text-darken-1" style="text-align: left;">← Voltar</a>
  </div>
</template>

<template name="formreg">

</template>
