<template name="formlogin">
  <div class="card cardlogin z-depth-3">
    <div class="center">
      <img src="https://cdn2.iconfinder.com/data/icons/app-types-in-grey/128/app_type_university_512px_GREY.png"><br>
    </div>
    <form class="login">
      <!--<h5>Login</h5><br><br>-->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input type="email" required name="email" id="email">
          <label for="email">Login</label>
        </div>
      </div>
      <div class="row magin">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input type="password" required name="password" id="password">
          <label for="password">Senha</label>
        </div>
      </div><br><br>
      <button class="btn waves-effect waves-light"><i class="material-icons">lock_open</i>Entrar</button>
    </form>
    <p style="margin: 0px;">
      <a href="{{pathFor route='recpsw'}}" class="grey-text text-darken-1">Recuperar senha</a>
    </p>
    <a href="{{pathFor route='reg'}}" class="grey-text text-darken-1">Criar conta</a>
  </div>
<script type="text/javascript">
  Materialize.updateTextFields();
</script>
</template>

<template name="recpsw">
  <div class="card cardlogin z-depth-3">
    <div class="center">
      <img src="https://cdn2.iconfinder.com/data/icons/app-types-in-grey/128/lock_512pxGREY.png"><br><br>
    </div>
    <!--<h5>Recuperar Senha</h5><br>-->
    {{> formpassword}}<br>
  </div>
</template>

<template name="formpassword">
  <form class="forgotpsw">
    <div class="input-field">
      <i class="material-icons prefix">email</i>
      <input type="email" name="email" class="validate">
      <label for="email">Digite seu email</label><br><br>
      <button class="btn waves-effect waves-light"><i class="material-icons">send</i>Enviar</button>
    </div>
  </form>
  <p style="margin: 6px -10px -6px 10px;">
    <a href="/" class="grey-text text-darken-1" style="text-align: left;">← Voltar</a>
  </p>
</template>

<template name="reg">
  <div class="card cardlogin z-depth-3">
    <h5>Criar Conta</h5>
    {{> formreg}}
    <a href="/" class="grey-text text-darken-1" style="text-align: left;">← Voltar</a>
  </div>
</template>

<template name="formreg">

</template>
