<!--########## UPLOAD ESTRUTURA CURRICULAR ##########-->
<template name="uploadcurricularstructure">
  {{#if currentUser}}
    <div class="card card3">
      <h4>Estrutura Curricular</h4>
      {{> uploadbutton}}
      <div class="center">
        {{> exportbutton type="courses"}}
        {{> removebutton method="toCleanCourses"
          changeflagmethod="changeUserUploadCurricularStructureFlag"}}
      </div>
    </div>
  {{/if}}
</template>

<!--########## UPLOAD HISTÓRICO ACADÊMICO ##########-->
<template name="uploadacademicrecord">
  {{#if currentUser}}
    <div class="card card3">
      <h4>Histórico Acadêmico</h4>
      {{> uploadbutton}}
      <div class="center">
        {{> exportbutton type="records"}}
        {{> removebutton method="toCleanRecords"
          changeflagmethod="changeUserUploadAcademicRecordsFlag"}}
      </div>
    </div>
  {{/if}}
</template>

<!--########## BOTÃO DE UPLOAD ##########-->
<template name="uploadbutton">
  {{#unless uploading}}
    <form action="#">
      <div class="file-field input-field">
        <div class="btn btn-upload">
          <i class="material-icons">file_upload</i>
          <span>Upload</span>
          <input type="file" class="uploadCSV" accept=".csv">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" placeholder="Clique para subir um arquivo CSV...">
        </div>
      </div>
    </form>
  {{else}}
    <p><i class="fa fa-spin fa-refresh"></i> Atualizando banco de dados... Aguarde...</p>
  {{/unless}}
</template>
