<template name="addbutton">
  {{> add}}
</template>

<template name="add">
  <a  href="#modaladd" class="btn modal-trigger waves-effect waves-light">
    <i class="material-icons">add</i>
    Adicionar
  </a>
  {{> modaladd}}
</template>

<template name="modaladd">
  <div id="modaladd" class="modal">
    <div class="modal-content">
      <h5>Adicionar {{collection}}</h5>
        <form id="addform">
        {{#if coursesOrRecords collection}}
          {{> addcourse}}
        {{else}}
          {{> addrecord}}
        {{/if}}
        <div class="modal-footer"><!-- BUG: modal-close -->
          <button required type="submit" class="modal-action waves-effect waves-light btn btn-form">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="addcourse">
  <div class="row">
    <div class="input-field col s3">
      <input required name="codigo" type="text" class="validate">
      <label for="codigo">Código <small>(Ex.: 90000267)</small>
      </label>
    </div>
    <div class="input-field col s9">
      <input required name="nome" type="text" class="validate">
      <label for="nome">Nome <small>(Ex.: COMPUTAÇÃO GRÁFICA)</small></label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s2">
      <input required name="creditos" type="text" class="validate">
      <label for="creditos">Créditos <small>(Ex.: 4)</small></label>
    </div>
    <div class="input-field col s2">
      <input required name="semestre" type="text" class="validate">
      <label for="semestre">Semestre <small>(Ex.: 5)</small></label>
    </div>
    <div class="input-field col s8">
      <input required name="prereq" type="text" class="validate">
      <label for="prereq">Pré-requisitos <small>(Ex.: 90000009;90000017)</small></label>
    </div>
  </div>
</template>

<template name="addrecord">
  <div class="row">
    <div class="input-field col s3">
      <input required id="rga" type="text" class="validate">
      <label for="rga">RGA <small>(Ex.: 201511901032)</small>
      </label>
    </div>
    <div class="input-field col s9">
      <input required id="nome" type="text" class="validate">
      <label for="nome">Nome <small>(Ex.: Jonathan Loureiro de Moraes)</small></label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input required id="disciplina" type="text" class="validate">
      <label for="disciplina">Disciplina <small>(Ex.: CÁLCULO I)</small></label>
    </div>
    <div class="input-field col s2">
      <input required id="situacao" type="text" class="validate">
      <label for="situacao">Situação <small>(Ex.: AP)</small></label>
    </div>
    <div class="input-field col s2">
      <input required id="ano" type="text" class="validate">
      <label for="ano">Ano <small>(Ex.: 2015)</small></label>
    </div>
    <div class="input-field col s2">
      <input required id="semestre" type="text" class="validate">
      <label for="semestre">Semestre <small>(Ex.: 1)</small></label>
    </div>
  </div>
</template>
