<!--########## BOTÃO DE EXPORTAR ##########-->
<template name="exportbutton">
  {{> dataexport}}
</template>

<template name="dataexport">
  <button class="btn {{uploaded type}}">
    <i class="material-icons">file_download</i>exportar
  </button>
</template>

<template name="examplebutton">
  {{> dataexample}}
</template>

<template name="dataexample">
  <a class="btn-example btn-flat waves-effect" name="button">Exemplo</a>
</template>

<template name="tableexport">
  <i class="material-icons export">file_download</i>
</template>

<template name="tableexport2">
  <i class="material-icons export2">file_download</i>
</template>

<template name="tableexport3">
  <i class="material-icons export3">file_download</i>
</template>
