<template name="layout">
  <div class="page-flexbox-wrapper">
    {{#if currentUser}}
      {{> navbar}}
      <div class="box2">
        <div class="box center">
          {{> yield}}
        </div>
      </div>
    {{else}}
      <div class="box center" style="margin-top: auto !important;">
        {{> yield}}
        <p style="height: 70px;"></p>
      </div>
    {{/if}}
    {{> footer}}
  </div>
</template>

<template name="navbar">
  <div class="{{navbarFixed}}">
    <nav>
      <div class="nav-wrapper">
        <a href="{{pathFor route='home'}}" class="brand-logo" style="text-indent: 280px;">Sistema Acadêmico</a>
        <ul id="slide-out" class="side-nav {{menuFixed}}"><br>
          {{> navigation}}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse" style="text-indent: 15px;">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </div>
  <script language="javascript">
  $(document).ready(function(){
    if (1)
      $('.button-collapse').sideNav({ closeOnClick: false });
    else
      $('.button-collapse').sideNav({ closeOnClick: true });
  });
  </script>
</template>

<template name="footer">
  <div class="footer-text container hide-on-small-only">
    Copyright &copy; UFMT, CUVG, Projeto e Desenvolvimento de Software, 2017s1
    <a class="footer-text right" href="https://github.com/raonifst/academic-system/blob/develop/LICENSE">GPL-3.0</a>
  </div>

  <div class="footer-text container hide-on-med-and-up">
    Copyright &copy; UFMT, CUVG, PDS, 2017s1
    <a class="footer-text right" href="https://github.com/raonifst/academic-system/blob/develop/LICENSE">GPL-3.0</a>
  </div>
</template>
