<template name="mainsettings" xmlns="http://www.w3.org/1999/html">
  {{#if currentUser}}
    <h3 class="page-header">Configurações de usuário</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input value="{{userName}}" id="user_name" class="validate" name="name">
            <label for="user_name" class="active">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select name="courses" id="courses_list">
              <option value="" disabled selected>Selecione um curso</option>
              {{#each course}}
                <option value="{{name}}" {{isCoureSelected}}>{{name}}</option>
              {{/each}}
            </select>
            <label for="courses_list">Curso para coordenador</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select name="alerts_time" id="alerts_time_config">
              <option value="" disabled selected>Selecione um número</option>
              {{#each alertsTime}}
                <option value={{value}} {{isAlertTimeSelected}}>{{id}}</option>
              {{/each}}
            </select>
            <label for="alerts_time_config">Tempo de duração dos alertas (em segundos)</label>
          </div>
        </div>
        <button class="btn btn-primary waves-effect waves-light btn-sm">Alterar</button>
      </form>
    </div>
  {{/if}}
</template>
