<!--########## CAIXA PARA CONSULTA ##########-->
<template name="searchbox">
  {{#if currentUser}}
    <div class="card card50">
      <h4>Consultas</h4>
      <form >
        <div class="row center">
          <div class="input-field col s10">
            <input type="text" id="autocomplete-input" class="autocomplete" name="search"/>
            <label for="autocomplete-input" >
              Pesquisar por alunos ou disciplinas...
            </label>
          </div>
          <button class="btn-floating btn-large waves-effect waves-light indigo" type="submit" name="action">
            <i class="material-icons" style="vertical-align: middle;">search</i>
          </button>
        </div>
        <div class="row center">
          <input class="with-gap a" name="group1" type="radio" id="test1" value="a" checked/>
          <label for="test1">Alunos</label>
          <input class="with-gap d" name="group1" type="radio" id="test2" value="d" />
          <label for="test2">Disciplinas</label>
        </div>
      </form>
    </div>
  {{/if}}

  {{#if showStudents}}
    {{> studentsSearchs}}
  {{else}}
    {{> disciplinesSearchs}}
  {{/if}}
</template>

<!--########## coNSULTA PARA ESTUDANTES ##########-->
<template name="studentsSearchs">
  <div class="card card50">
    <h4>Resultados</h4>
    <div class="accordion">
      <dl>
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
            Disciplinas deste aluno no semestre:
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true" style="margin-left: auto; margin-right:auto; text-align:center;">
          <table class="mdl-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right:auto;">
            {{> reactiveTable collection=coursesAtStudentSemester settings=disciplinesSettings}}
          </table>
        </dd>
      </dl>
    </div>
  </div>
</template>

<!--########## CONSULTAS PARA DISICPLINA ##########-->
<template name="disciplinesSearchs">
  <div class="card card50">
    <h4>Resultados</h4>
    <div class="accordion">
      <dl>
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
            Estudantes que ainda farão esta disciplina: {{countStudentsWhoMustEnrollInACourse}}
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true" style="margin-left: auto; margin-right:auto; text-align:center;">
          <table class="mdl-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right:auto;">
            {{> reactiveTable collection=studentsWhoMustEnrollInACourse settings=settings}}
          </table>
        </dd>
        <dt>
          <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
            Estudantes que tem pre-requisito para cursar-la: {{countStudentsWhoHavePrerequisitesForACourse}}
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true" style="margin-left: auto; margin-right:auto; text-align:center;">
          <table class="mdl-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right:auto; text-align:center;">
            {{> reactiveTable collection=studentsWhoHavePrerequisitesForACourse settings=settings}}
          </table>
        </dd>
        <dt>
          <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
            Estudantes que estão no semestre sugerido: {{countStudentsAtCourseSemester}}
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true" style="margin-left: auto; margin-right:auto; text-align:center;">
          <table class="mdl-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right:auto; text-align:center;">
            {{> reactiveTable collection=studentsAtCourseSemester settings=settings}}
          </table>
        </dd>
      </dl>
    </div>
  </div>
</template>
