<template name="settings" xmlns="http://www.w3.org/1999/html">
  {{#if currentUser}}
    <br>
    <div class="card" style="width: 600px;">
      <h3 class="page-header">Configurações de usuário</h3>
      <form class="col s12">
        <div class="input-field col s12">
          <input value="{{userName}}" id="user_name" class="validate" name="name">
          <label class="active" for="user_name">Nome</label>
        </div>
        <div class="input-field col s12">
          <select name="courses">
            <option value="" disabled selected>Selecione um curso</option>
            {{#each course}}
              <option value="{{name}}" {{isselected}}>{{name}}</option>
            {{/each}}
          </select>
          <label>Curso para coordenador</label>
        </div>
        <br><br><br>
        <div class="input-field col s2">
          <select name="alerts-time">
            <option value="" disabled selected>Selecione um número</option>
            <option value="0">0</option>
            <option value="0">1</option>
            <option value="0">2</option>
            <option value="0">3</option>
            <option value="0">4</option>
            <option value="0">5</option>
          </select>
          <label>Tempo de duração dos alertas (em segundos)</label>
        </div>
        <input type="submit" value="Submeter">
      </form>
    </div>
  {{/if}}
</template>
