<!--##########  TABELA ESTRUTURA CURRICULAR ##########-->
<template name="tablecurricularstructure">
  {{#if currentUser}}
    {{#if uploaded}}
      <div class="card cardtable">
        {{> reactiveTable collection=listaDisiciplinas settings=settings}}
      </div>
    {{/if}}
  {{/if}}
</template>


<!--##########  TABELA REGISTO ACADÊMICO ##########-->
<template name="tableacademicrecords">
  {{#if currentUser}}
    {{#if uploaded}}
      <div class="card cardtable">
        {{> reactiveTable collection=listaAlunos settings=settings}}
      </div>
    {{/if}}
  {{/if}}
</template>


<!--##########  TEMPLATES UTILIZADOS NAS TABELAS ##########-->
<template name="editing">
  {{> autoformModals}}
  {{#afModal
    collection=""
    schema=""
    operation="insert"
    doc=this
    title=_id
    buttonCancelClasses="btn btn-delete waves-effect waves-light btn-form"
    buttonCancelContent="Cancelar"
    buttonSubmitClasses="btn waves-effect waves-light btn-form"
    buttonContent="Atualizar"
  }}
    <i class="material-icons edit">edit</i>
  {{/afModal}}
  <i class="material-icons rmv">delete</i>
</template>

<template name="discplina">
  <input value="{{nome}}" type="text" style="width: 400px;">
</template>

<template name="anosemestre">
  {{ano}}/{{semestre}}
</template>

<template name="percap">
  {{perc_ap}}%
</template>

<template name="percreic">
  {{perc_reic}}%
</template>

<template name="error404">
  <br><br><br>
  <div class="center">
    <i class="material-icons iconblack">mood_bad</i>
  </div>
  <br><br><br>
</template>
