<!--##########  TABELA ESTRUTURA CURRICULAR ##########-->
<template name="tablecurricularstructure">
  {{#if currentUser}}
    {{#if uploaded}}
      <div class="card cardtable">
        {{> reactiveTable collection=listaDisiciplinas settings=settings}}
      </div>
    {{/if}}
  {{/if}}
</template>


<!--##########  TABELA REGISTO ACADÊMICO ##########-->
<template name="tableacademicrecords">
  {{#if currentUser}}
    {{#if uploaded}}
      <div class="card cardtable">
        {{> reactiveTable collection=listaAlunos settings=settings}}
      </div>
    {{/if}}
  {{/if}}
</template>


<template name="error404">
  <br><br><br>
  <h5>Não encontrei nada :(</h5>
  <br><br><br>
</template>

<template name="editing">
  <i class="material-icons edit">edit</i>
</template>

<template name="apagar">
  <i class="material-icons edit">clear</i>
</template>

<template name="discplina">
  <input value="{{nome}}" type="text" style="width: 400px">
</template>
