<template name="testando2">
  <div class="card card2">
    <h3>Keep It Simple, Stupid!</h3>
    card2
  </div>
</template>

<template name="testando3">
  <div class="card card3">
    <h4>Botões</h4>
    <br><br><br>card3<br><br>
    <div class="center">
      <button class="btn-flat waves-effect waves-indigo">exemplo</button><br>
      <button class="btn waves-effect waves-light">normal</button>
      <button class="btn btn-delete waves-effect waves-light"><i class="material-icons">clear</i>limpar</button>
      <button class="btn btn-export waves-effect waves-light"><i class="material-icons">file_download</i>exportar</button>
      <button class="btn btn-upload waves-effect waves-light"><i class="material-icons">file_upload</i>upload</button>
    </div>
  </div>

</template>

<template name="testando1">
  <div class="card">
    <h5>Estamos em construção!</h5>
    card
  </div>
</template>
