<!-- Upload de estrutura curricular -->
<template name="uploadcurricularstructure">
  {{#if currentUser}}
    <div class="card card3">
      <h3>Estrutura Curricular</h3>
      {{#unless uploading}}
        <form action="#">
          <div class="file-field input-field">
            <div class="btn btn-export">
              <i class="material-icons">file_upload</i>
              <span>Upload</span>
              <input type="file" name="uploadCSV" accept=".csv">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" placeholder="Clique para subir um arquivo CSV de Estrutura Curricular...">
            </div>
          </div>
        </form>
      {{else}}
        <p><i class="fa fa-spin fa-refresh"></i> Atualizando banco de dados... Aguarde...</p>
      {{/unless}}
    </div>
  {{/if}}
</template>
